/**
 * https://github.com/senbagaraman04/rams-recruit
 */
 
 .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


a.ramsrecruit-sidenav-link.active {
  border-right: 3px solid indigo;
}


.sidepanel-header-image {
  background-image: url('https://raw.githubusercontent.com/senbagaraman04/rams-fleet-management/deploy_ramsfrontend/src/assets/icons/developer.png');
  background-size: cover;
}
.ramsrecruit-sidepanel-aboutus{
  padding-top: 100% !important;
}



.rlt-2 {
  padding-top: 1rem !important;
  padding-left: 1rem !important;

}