<div class="container pt-2 mt-2 ramsrecruit-candidatetable">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container> -->

    <!-- Years of Exp -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
      <td mat-cell *matCellDef="let row">{{row.gender}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fullname</th>
      <td mat-cell *matCellDef="let row">{{row.fullname}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    
    <!-- Phone Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
      <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
    </ng-container>

    <!-- Years of Exp -->
    <ng-container matColumnDef="yoe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Years of Experience</th>
      <td mat-cell *matCellDef="let row">{{row.yoe}}</td>
    </ng-container>

      <!-- Tech Stack Column -->
      <ng-container matColumnDef="tech">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expertise Technology</th>
        <td mat-cell *matCellDef="let row">{{row.tech}}</td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
