 <!-- -->

  <div class="container">
    
 

<div class="row">
    <div class="col-md-3">
        <mat-card class="rams-recruit-card">
            <mat-card-subtitle>{{ date }}</mat-card-subtitle>
            <mat-card-title>Total Profiles </mat-card-title>
            <mat-card-content>
              <p> {{profilesShortlisted}} profiles</p>
               
            </mat-card-content>
          </mat-card> 
    </div>

    <div class="col-md-3">
        <mat-card class="rams-recruit-card">
            <mat-card-subtitle>Interview Takens </mat-card-subtitle>
            <mat-card-title>Interview Scheduled</mat-card-title>
            <mat-card-content>
              <p>{{shortlistedInterview}} prfiles</p>
               
            </mat-card-content>
          </mat-card> 
    </div>


    <div class="col-md-3">
        <mat-card class="rams-recruit-card">
            <mat-card-subtitle>Interview Takens </mat-card-subtitle>
            <mat-card-title>Interview Scheduled</mat-card-title>
            <mat-card-content>
              <p>{{shortlistedInterview}} prfiles</p>
               
            </mat-card-content>
          </mat-card> 
    </div>
</div>

</div>

<mat-divider></mat-divider>