<div class="pt-2 mt-2 mr-2 pr-2 ramsrecruit-candidatetable">
  <span> To edit a particular candidate, click on the candidate name</span>
  <table mat-table class="full-width-table mat-elevation-z8" matSort [dataSource]="dataSource" aria-label="Candidates">


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Fullname</th>
       <td mat-cell *matCellDef="let row" (click)="onCandidateDataEdit(row)">
        <a>
          {{row.name}}
        </a></td>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email Address</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <!-- Gender -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let row">{{row.gender}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
    </ng-container>

    <!-- Years of Exp -->
    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef>Years of Experience</th>
      <td mat-cell *matCellDef="let row">{{row.experience}}</td>
    </ng-container>

    <!-- Tech Stack Column -->
    <ng-container matColumnDef="tech">
      <th mat-header-cell *matHeaderCellDef>Expertise Technology</th>
      <td mat-cell *matCellDef="let row">{{row.techStack}}</td>
    </ng-container>

    <!-- Interview Response Column -->
    <ng-container matColumnDef="interviewResponses">
      <th mat-header-cell *matHeaderCellDef>Interview Responses </th>
      <td mat-cell *matCellDef="let row">{{row.interviewResponse}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator> -->
</div>