<div class="rrms-outer-panel">
    <div class="container-rrms">
        <div class="rrms-wrap-panel">
            <div class="rrms-login-panel-image">
                <img src="https://media.tenor.com/S8dOItPNscgAAAAi/loop-loading.gif" alt="Rams-recruitment">
            </div>

            <form class="login100-form ">
                <span class="login100-form-title">
                    Recruitment Panel Login
                </span>

                <div class="rrms-login-email">
                    <input class="form-control mb-2" type="text" name="email" placeholder="Email">
                </div>

                <div class="rrms-login-email">
                    <input class="form-control mb-2" type="password" name="pass" placeholder="Password">
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>



                 <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div> 
            </form>
        </div>
    </div>
</div>