<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Ramsrecruit</mat-toolbar>
   
    <mat-card class="sidepanel-card ramsrecruit-sidepanel-aboutus">
      <mat-card-header>
        <div mat-card-avatar class="sidepanel-header-image"></div>
        <mat-card-title>Rams Recruitment</mat-card-title>
        <mat-card-subtitle>Recruit management system</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Some of the links may not work or will redirect to underconstruction page.
          Contact: <a href="https://github.com/senbagaraman04" target="_blank" rel="noopener noreferrer"><i
              class="fab fa-github"></i></a><br>
          <span class="text-muted">Version 0.0.3</span>
        </p>
      </mat-card-content>

    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Rams-recruitment</span>
    </mat-toolbar>
    <div class="">

 
    
    </div>


  </mat-sidenav-content>
</mat-sidenav-container> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Rams Recruitment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
       
        <a mat-list-item href="#" class=" nav-item nav-link  ramsrecruit-sidenav-link-home" routerLink="home" routerLinkActive="active">Home</a>
      <a mat-list-item href="#" class="nav-item nav-link ramsrecruit-sidenav-link" routerLink="candidate/addcandidates" routerLinkActive="active">New
          Candidate</a>
      <a mat-list-item href="#" class=" nav-item nav-link  ramsrecruit-sidenav-link" routerLink="candidate/viewcandidates"
          routerLinkActive="active">Candidate List</a>
          <a mat-list-item href="#" class=" nav-item nav-link ramsrecruit-sidenav-link" routerLink="interviewer"
          routerLinkActive="active">Interviewer List</a>

          <!--
        <a mat-list-item href="#" class="ramsrecruit-sidenav-link" routerLink="interviewresponse"
          routerLinkActive="active">Interview Response</a>
        <a mat-list-item href="#" class="ramsrecruit-sidenav-link" routerLink="releasedoffers" routerLinkActive="active">
          Offer Details</a> -->
    
        </ul>
  </div>
</nav>

<router-outlet></router-outlet>