
<div class="card-container">
    <a class="card">
       <span>{{name}}</span>
    </a>

    <a class="card">
       <span>{{experience}} years</span>
     </a>

    <a class="card">
       <span>{{currentCtC}}  LPA</span>
     </a>

    <a class="card">
       <span>{{primarySkills}}</span>
     </a>

   

</div>
<!-- 
<div class="card-container rams-recruit-interview-marks">
    <div class="candidate-avanced-div">

      
    <label id="example-radio-group-label">Candidate Advanced for Next Role: </label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"     
      [(ngModel)]="result">
      <mat-radio-button class="example-radio-button" *ngFor="let rep of response" [value]="rep">
        {{rep}}
      </mat-radio-button>
    </mat-radio-group>
</div>

</div>
<div class="rams-recruit-interview-answers">
  <form [formGroup]="form" (ngSubmit)="saveDetails(form)"> -->

<!-- Technical Experience-->

<!-- <div class="card-container candidate-avanced-div">
    <div class="candidate-avanced-div">
    <label id="example-radio-group-label">Does the Candidate has the relevant technical experience: </label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"     
      [(ngModel)]="expRating">
      <mat-radio-button class="example-radio-button" *ngFor="let rep1 of rating" [value]="rep1">
        {{rep1}}
      </mat-radio-button>
    </mat-radio-group>
</div>
</div> -->

<!-- Communication Exp-->

<!-- <div class="card-container candidate-avanced-div">
    <div class="candidate-avanced-div">
    <label id="example-radio-group-label">Does the Candidate has the relevant Communication skills: </label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"     
      [(ngModel)]="commRating">
      <mat-radio-button class="example-radio-button" *ngFor="let rep2 of rating" [value]="rep2">
        {{rep2}}
      </mat-radio-button>
    </mat-radio-group>
</div>
</div> -->

<!-- Values of our company  -->

<!-- <div class="card-container candidate-avanced-div">
    <div class="candidate-avanced-div">
    <label id="example-radio-group-label">Does the Candidate has the interest about our values/company: </label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"     
      [(ngModel)]="interestRating">
      <mat-radio-button class="example-radio-button" *ngFor="let rep3 of rating" [value]="rep3">
        {{rep3}}
      </mat-radio-button>
    </mat-radio-group>
</div>

-->

 <!-- <div class="card-container candidate-avanced-div">
  <div class="candidate-avanced-div">
    <label id="example-radio-group-label">Name of the Interviewer: </label>
    <mat-form-field appearance="standard">
      <mat-label>Interviewer name</mat-label>
      <input matInput inputmode="tel" placeholder="Interviewer name" formControlName="interviewerName" #nameInput>
    </mat-form-field>
  </div>
</div>

 
 
<div class="card-container candidate-avanced-div">
  <div class="candidate-avanced-div">
    <label id="example-radio-group-label">Date of the interview: </label>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="doi">
      <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </div>
</div>



 



</form>


</div>

<div class="container">

     

      <mat-form-field appearance="legacy">
          <mat-label>Email Address:</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Your email">
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-hint>Input the fully qualified email address</mat-hint>
          <mat-error *ngIf="(form.get('email')).errors?.required">Email is required</mat-error>
          <mat-error *ngIf="(form.get('email')).errors?.pattern">Please enter valid email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
          <mat-label>Address:</mat-label>
          <textarea matInput placeholder="address" formControlName="address"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" hintLabel="Country name required">
          <mat-label>Country</mat-label>
          <mat-select matNativeControl name="country" formControlName="country">
              <mat-option value="india">India</mat-option>
              <mat-option value="france">France</mat-option>
              <mat-option value="germany">Germany</mat-option>
              <mat-option value="japan">Japan</mat-option>
              <mat-option value="Mongolia">Mongolia</mat-option>
          </mat-select>
      </mat-form-field>

      <div style="margin-top:10px;">
          <div style="margin-right:3%; color:#6b6b6b;">
              <mat-label>Gender</mat-label>
          </div>
          <mat-radio-group formControlName="gender">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
      </div>

      
      <div mat-dialog-actions align="end">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
      </div>

  <div>{{ form.value | json }}</div>
</div> -->
 
 
<div class="card-container rams-recruit-interview-marks-outerdiv">

  <div [formGroup] = "myGroup" (ngSubmit)="saveDetails(myGroup)">


    <div class="rr-interviewresponse-interviewername">
      <!-- <label id="example-radio-group-label">Name of the Interviewer: </label> -->
      <mat-form-field appearance="outline">
        <mat-label>Interviewer name</mat-label>
        <input matInput inputmode="tel" placeholder="Interviewer name" formControlName="interviewerName" #nameInput>
      </mat-form-field>
    </div>

    <div class="rr-interviewresponse-interviewdate">
      
        <!-- <label id="example-radio-group-label">Date of the interview: </label> -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Interview Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="doi">
          <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </div>


    <div class="rr-interviewresponse-questions">
      <!-- <label id="example-radio-group-label">Interviewer Questions & Candidate Responses: </label> -->
      <mat-form-field appearance="outline">
        <mat-label>Interviewer Questions & Responses</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="20" matInput placeholder="interviewQuestions"    
        formControlName="interviewQuestions"></textarea>
      </mat-form-field>
    </div>


    <div class="rr-interviewresponse-candidateresult">
      <!-- <label id="example-radio-group-label">Candidate Advanced for Next Round: </label> -->
      
        <mat-radio-group formControlName="result">
           
          <mat-radio-button value="Advanced">Advanced &nbsp;</mat-radio-button>
          <mat-radio-button value="Rejected">Rejected</mat-radio-button>
      </mat-radio-group>
       
    </div>


      <div class="rr-interviewresponse-techexperience">
      
      
        <mat-radio-group  formControlName="techExperience">
          <mat-label>Technical Experience: &nbsp;</mat-label>
          <mat-radio-button value="1">1</mat-radio-button>&nbsp;
          <mat-radio-button value="2">2</mat-radio-button>&nbsp;
          <mat-radio-button value="3">3</mat-radio-button>&nbsp;
          <mat-radio-button value="4">4</mat-radio-button>&nbsp;
          <mat-radio-button value="5">5</mat-radio-button>&nbsp;
      </mat-radio-group>
       
    </div>  
 
  
  <div class="rr-interviewresponse-verbalcommunication">
       
      
    <mat-radio-group formControlName="verbalCommunication">
         <mat-label>Communication Skills: &nbsp;</mat-label>
        <mat-radio-button value="1">1</mat-radio-button>&nbsp;
        <mat-radio-button value="2">2</mat-radio-button>&nbsp;
        <mat-radio-button value="3">3</mat-radio-button>&nbsp;
        <mat-radio-button value="4">4</mat-radio-button>&nbsp;
        <mat-radio-button value="5">5</mat-radio-button>&nbsp;
    </mat-radio-group>
       
    </div>  

    <div mat-dialog-actions   class="rr-interviewresponse-submitbutton">
      <button (click)="saveDetails(myGroup)" mat-raised-button color="primary" type="submit" >Submit</button>
  </div>
    
    

  </div>




</div>
  
<div>{{ myGroup.value | json }}</div>