<div class="pt-2 mt-2 mr-2 pr-2 ramsrecruit-candidatetable">
    <table mat-table class="full-width-table mat-elevation-z8" matSort [dataSource]="dataSource"
        aria-label="Candidates">


        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Fullname</th>
             <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email Address</th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>



        <!-- Phone Column -->
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>