/**
 * https://github.com/senbagaraman04/rams-recruit
 */
 
 /* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);

}

.text-center { text-align: center; }
