/**
 * https://github.com/senbagaraman04/rams-recruit
 */
 
 /* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #ceb4e6;
     background: -webkit-linear-gradient(-135deg, #4d1f49, #b8c0e7);
     background: -o-linear-gradient(-135deg, #4d1f49, #b8c0e7);
     background: -moz-linear-gradient(-135deg, #4d1f49, #b8c0e7);
     background: linear-gradient(-135deg, #4d1f49, #b8c0e7);

}

.text-center { text-align: center; }


.ramsrecruit-bgcolor-lb {
    background-color: lightblue;
}

.rlt-2 {
    padding-top: 1rem !important;
    padding-left: 1rem !important;
  }